

@model TransactionVM;
@{
    ViewData["Title"] = @Model.Transaction.Id == 0 ? "Create" : "Update";
    ViewData["pageTitle"] =@Model.Transaction.Id == 0 ? "Create Transaction" : "Edit Transaction";
}
<div class="row">
    <div class="col-md-7">
        <div class="card shadow" style="background-color:#212b36">
            <div class="card-body p-3">
                <form method="POST">
                    <input asp-for="Transaction.Id" hidden />
                   
                   @* <div class="form-group">
                        <label asp-for="Type" class="form-label mt-2"></label>
                        <br>
                        <div class="btn-group w-100 mb-3 mt-1">
                            <input type="radio" class="btn-check" name="Type" value="Expense" id="success-outlined" autocomplete="off" checked="@(Model.Type=="Expense")">
                            <label class="btn btn-outline-success" for="success-outlined">Expense</label>

                            <input type="radio" class="btn-check" name="Type" value="Income" id="info-outlined" autocomplete="off" checked="@(Model.Type=="Income")">
                            <label class="btn btn-outline-info" for="info-outlined">Income</label>
                        </div>
                        <span class="text-danger" asp-validation-for="Type"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Transaction.ExpenseDate" class="form-label mt-2"></label>
                        <input asp-for="Transaction.ExpenseDate" class="form-control" />
                        <span class="text-danger" asp-validation-for="Transaction.ExpenseDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Transaction.CategoryId" class="form-label mt-2"> Category</label>
                        <select  asp-for="@Model.Transaction.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                           <option value="">--Select Category --</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Transaction.CategoryId"></span>
                    </div>
                    
                   
                    <div class="form-group">
                        <label asp-for="Transaction.Amount" class="form-label mt-2"></label>
                        <input asp-for="Transaction.Amount" class="form-control" />
                        <span class="text-danger" asp-validation-for="Transaction.Amount"></span>
                    </div>
                   
                   
                    <div class="form-group">
                        <label asp-for="Transaction.Descriptions" class="form-label mt-2"></label>
                        <textarea asp-for="Transaction.Descriptions" rows="5" class="form-control"></textarea>
                    </div>


                    <div class="row mt-3">
                        <div class="col-md-6">
                            @if (@Model.Transaction.Id == 0)
                            {
                                <button type="submit" class="btn btn-outline-info btn-rounded">Create</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-success btn-rounded">Update</button>
                            }
                        </div>
                        <div class="col-md-6 text-end">
                            <a asp-area="" asp-controller="Transaction" asp-action="Index" class="btn btn-outline-warning">Back ot List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b10">
            <i class="fa-solid fa-headphones fa-5x"></i>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
 }